{% extends 'layout.html' %}
{% load static %}

{% block menu %}
    <div style="clear:left"></div>
    <p style="color: #858388;font-size:18px">Chat 
        <label id="add-notes" onclick="show_join_chat_view()">+</label>
    </p>

    <div id="notes">
        {% for chat_group in chat_groups %}
            <div id="card" name="group{{chat_group.pk}}" onclick="choose_group(this,{{chat_group.pk}})">{{chat_group.title}}</div>
        {% endfor %}
    </div>


    <div style="margin-top:15px;border-top: 1px solid #b8bcc0"></div>

    <div id="sub-menu-user">
        <div onclick="show_join_chat_view()">
            Join chat...
        </div>
        <div onclick="show_add_chat_view()">
            New chat...
        </div>
        <a href={% url 'index' %}><div>Note</div></a>
        <div style="margin:10px 0px;border-top: 1.5px solid #b8bcc0;width:150px;padding:0px"></div>
        <a href={% url 'logout' %}><div>Sign out</div></a>
    </div>
{% endblock menu %}
{% block body %}
    <div id="div-background">
    
    </div>

    <div id="chat-box">
        <div style="height: 20px; padding: 10px 60px;font-weight:bold; cursor:pointer;" onclick="show_group_detail_view()"></div>
        <div id="chat-content">
        </div>
        <input type="text" placeholder="Type a message" required>
        <button type="button" class="btn btn-outline-dark">Send</button>
    </div>

    <div id="container" style="position:fixed; left:auto;margin-left: -35px;padding-right:35px">
        <div id="group-detail">
            <div style="position:absolute;left:0;top:0;width:100%;padding:15px 0px;background-color:#EDEDED">
                <b style="cursor:pointer;float:right;margin:0 15px" onclick="close_container(this)">X</b>
                <label style="padding-left:15px">Group Info</label>
            </div>
        </div>
    </div>

    {% csrf_token %}
    <script type="text/javascript"> 
        var user = "{{request.user}}";
        var first_card = document.querySelector('#card');
     </script>

     {% if error %}
        <script>
            alert('{{error}}')
        </script>
     {% endif %}
    <script src="{% static 'chat/index.js' %}"></script>
{% endblock body %}