{% extends 'layout.html' %}


{% block menu %}
    <div style="clear:left"></div>
    <p style="color: #858388;font-size:18px">Notes 
        <label id="add-notes" onclick="show_add_note_view()">+</label>
    </p>
    <div id="notes">
        {% for folder in folders  %}
            <button class="folder" onclick="collaps_uncollapse(this,pages{{folder.pk}})">
                {{folder.title}}<span class="arrow {% if folder.pages.exists %}down {% else %}right{% endif %}"></span>
            </button>
            <div id="pages{{folder.pk}}">
                {% for note in folder.pages.all %}
                    <div id="card" name="note_{{note.pk}}" onclick="choose_page(this,{{note.pk}})">{% if note.title %}{{note.title}}{% endif %}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    <div style="margin-top:15px;border-top: 1px solid #b8bcc0"></div>

    <div id="sub-menu-user">
        <div onclick="show_add_folder_view()">
            New folder...
        </div>
        <div onclick="show_add_note_view()">
            New page...
        </div>
        <div onclick="show_modify_folders_view()">
            Modify folders...
        </div>
        <a href={% url 'chat' %}><div>Chat</div></a>
        <div style="margin:10px 0px;border-top: 1.5px solid #b8bcc0;width:150px;padding:0px"></div>
        <a href={% url 'logout' %}><div>Sign out</div></a>
    </div>
{% endblock menu %}

{% block body %}
    <nav class="nav-bar" style="font-size:18px;margin-bottom:25px;">
        <div class="nav-link" style="float:left;background-color:#e23d32;color:white;padding:5px;margin-left:50px" onclick="delete_note()">Delete</div>

        <div class="nav-link" style="float:right" onclick="save_btn()">Save</div>
        <div class="nav-link" style="float:right" onclick="show_share_view()">Share</div>
        <div class="nav-link" style="float:right" onclick="print_element('.body')">Print</div>
        <div class="nav-link" style="float:right" onclick="alert('working in progress')">Add</div>

        <div style="clear:both"></div>
    </nav>

    <div id="note" onkeyup="autosave(this)">
        <h1 contentEditable="true" onkeyup="check_empty_title(this)"></h1>
        <div id="content" contentEditable="true" onkeyup="check_empty(this)"></div>
    </div>

    <div id="container" style="position:absolute;left:auto;margin-left:-35px;margin-top:-8px;padding-right:43px;padding-bottom:21px">
        <div id="share">
            <b>Share</b>
            <label id="title" style="display:inline-block;margin-bottom:14px;color:gray"></label>
            <div id="share-with-following-users"></div>
            <input id="search-bar" placeholder="Share with" onkeyup="show_search_user_result_view(this)" onfocus="show_search_user_result_view(this)">
            <div style="display:block;max-height:100px">
                <div id="search-user-result">
                </div>
            </div>
            <button id="blue-btn" style="margin-bottom:10px;cursor:pointer">Share</button>
            <div style="clear:both"></div>

            <hr style="border:transparent; border-top:solid 1px #6f707029;margin-left:-10px;padding-right:20px;width:100%">
            <b>Shared with</b>
            <div>
                <p id="shared-with"></p>
            </div>
        </div>
    </div>

    <! --- this is script is used to open last page when a new page is created  --->
    {% if go_last_page %}
    <script>
        document.addEventListener('DOMContentLoaded',() => {
            const card = document.getElementsByName("note_{{go_last_page}}")[0];
            choose_page(card,"{{go_last_page}}");
        })
    </script>
    {% else %}
    <script>
        document.addEventListener('DOMContentLoaded',() => {
            document.querySelector('#card').click();
        })
    </script>
    {% endif %}
    {% if error %}
    <script>
        alert('{{error}}')
    </script>    
    {% endif %}
    {% csrf_token %}
{% endblock body %}
