{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'to_do_list/style.css' %}">
    <title>To do list</title>
</head>
<body>
    <div class="menu">
        <div id="logo">
            <img style="float:left;width:50px;" src="https://cdn-icons-png.flaticon.com/128/1632/1632670.png" alt="icon">
            <h1 style="float:left;margin:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:calc(100% - 120px)">{{user.first_name}}</h1>
            <img id="icon" src="/media/sidebar.jpg" style="margin-top:12px;float:right;width:50px;cursor:pointer;" onclick="open_close_menu(this)" alt='close'>
        </div>
        {% block menu %}{% endblock menu %}
        
        <div id="user">
            <img src="/media/profile.png" alt="icon">
            <h4>{{user}}</h4>
            <div style="clear:both"></div>
        </div>
    </div>

    <div class="body">
        {% block body %}
        {% endblock body %}
    </div>

    <div id="container">
        <div id="add-note">
            <nav class="nav-bar">
                <div class="nav-link" style="float:left;margin:0;" onclick="save_note()">Open as page</div>
                <div style="float:left;margin-left:20px;width:1px;height:19px;border-left: 1px solid #b8bcc0"></div>
                <div class="nav-link" style="float:left">Add</div>

                <div class="nav-link" style="float:right" onclick="save_note()">Save</div>
                <div class="nav-link" style="float:right">Share</div>
                <div class="nav-link" style="float:right" onclick="print_element('#add-note')">Print</div>
            </nav>
            <form action="{% url 'add_note' %}" method="post">
                {% csrf_token %}
                <div style="margin:20px;font-size:16px;">Folder: {{page_form.folder}}</div>
                {{page_form.title}}
                {{page_form.content}}
            </form>
        </div>
    </div>
 
    <div id="container">
        <div id="add-folder">
            <form action="{% url 'add_folder' %}" method="post">
                {% csrf_token %}
                <b>Add new folder</b>
                <input id="form-input" type="text" name="title" placeholder="new folder">
                <button id="blue-btn">Add</button>
            </form>
        </div>
    </div>

    <div id="container">
        <div id="create-chat">
            <form action="{% url 'create_chat' %}" method="post">
                {% csrf_token %}
                <b>Create new Chat</b><br>
                <label for="title" style="display:inline-block;margin: 0.5rem;">Name</label><br>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter name of the chat"><br>
                <label for="title" style="display:inline-block;margin: 0.5rem;">Members</label><br>
                <div id="customize-select">

                    <label class="form-control" id="dropmenu">Select...</label><br>
                    <div style="display:none;max-width: 400px;" id ="users-container">
                        <ul style="list-style-type:none;padding-left:0px;margin:0px;">
                            {% for user in all_users %}
                                {% if user != request.user %}
                                    <li style="display:block ruby">
                                        <input type="checkbox" name="users" id="user{{user.pk}}" value="{{user.pk}}" />
                                        <label style="margin-right: 15px;" class="form-check-label" for="user{{user.pk}}">{{user}}</label>
                                    </li>
                                {% endif %}
                            {% endfor %}
                           
                        </ul>
                    </div>

                </div>
                <button id="blue-btn">Create</button>
            </form>
        </div>
    </div>

    <div id="container">
        <div id="join-chat">
            <form action="{% url 'join_chat' %}" method="post">
                {% csrf_token %}
                <b>Join Chat</b><br>
                <input id="form-input" style="padding: 0.375rem 0rem;" type="text" name="pk" placeholder="Chat id number">
                <button id="blue-btn" style="padding: 0.375rem 0rem;width:35%">Join</button>
            </form>
        </div>
    </div>

    <div id="container">
        <div id="modify-folder">

            <div id="customize-select">
                <label class="form-control" id="dropmenu" style="margin:0">Select folder...</label><br>
                <div style="display:none;max-width: 400px;" id ="users-container">
                    <ul style="list-style-type:none;margin:0px;padding-left:0">
                       <li>Main</li>
                       <li>Main</li>
                       <li>MainMain</li>
                       <li>MainMainMainMain</li>
                    </ul>
                </div>
            </div>

            <p style="margin-bottom:0px">Rename folder</p>
            <input type="text" id="rename" value="Main" style="font-size:18px">

            <button id="blue-btn">Rename</button>
            <button id="blue-btn" style="background:red;border:red;">Delete</button>

        </div>
    </div>

    <script src="{% static 'to_do_list/index.js' %}"></script>
</body>
</html>